---
export const prerender = false;
import Base from '@/layouts/Base.astro';
import { getCityConfig } from '@/lib/config/city-config';
import { t } from '@/i18n';

const config = getCityConfig();
const locale = Astro.currentLocale;
---

<Base title={`${t('404.title', locale)} | ${config.display_name}`}>
  <div class="not-found">
    <p class="not-found--emoji">🚴‍♂️💨</p>
    <h1>{t('404.heading', locale)}</h1>
    <p>{t('404.message', locale)}</p>
    <p>{t('404.help', locale)}</p>
    <ul>
      <li><a href="/">🏠 {t('404.home', locale)}</a></li>
      <li><a href="/map">🗺️ {t('404.map', locale)}</a></li>
      <li><a href="/calendar">📅 {t('404.calendar', locale)}</a></li>
    </ul>
  </div>
</Base>

<style lang="scss">
  @use '../styles/variables' as *;

  .not-found {
    text-align: center;
    padding: 3em 1em;
    max-width: 500px;
    margin: 0 auto;

    h1 {
      font-family: $font-heading;
      font-size: 2em;
      margin: 0 0 0.5em;
    }

    p {
      font-size: 1.1em;
      line-height: 1.5;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 1.5em;
      text-align: left;
      display: inline-block;

      li {
        padding: 0.4em 0;
        font-size: 1.1em;
      }
    }
  }

  .not-found--emoji {
    font-size: 4em;
    margin: 0;
    line-height: 1.2;
  }
</style>
