---
export const prerender = false;

import AuthCardLayout from '../../components/AuthCardLayout.astro';
import AuthGate from '../../components/admin/AuthGate.tsx';
import { isBlogInstance } from '../../lib/city-config';
import { t } from '@/i18n';

const returnTo = Astro.url.searchParams.get('returnTo') || '/admin';
const blog = isBlogInstance();
const locale = Astro.currentLocale;
---

<AuthCardLayout title={blog ? t('auth.gate_title_blog', locale) : t('auth.gate_title_wiki', locale)} subtitle={blog ? undefined : t('auth.gate_subtitle', locale)}>
  {!blog && (
    <p slot="description" class="gate-intro">
      {t('auth.gate_intro', locale)}
    </p>
  )}
  <AuthGate client:load returnTo={returnTo} blogMode={blog} />
</AuthCardLayout>
